<div class="container index">
  <h1>Cocktail Splash</h1>
  <p>Which Cocktail to do?</p>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <p class="small-title">Welcome to Cocktail Splash! <br> This is a small project created during the Le Wagon Coding Bootcamp in Tel Aviv in two days. The aim of this app is to create and share nice cocktail recipes with the world.<p>
     </div>
   </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <% @cocktails.each do |cocktail| %>
          <h2><%= cocktail.name %></h2>
          <%= link_to cocktail_path(cocktail) do %>
          <p class="cocktail-link"><%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :thumb %></h2>
        <% end %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <%= link_to "Create a Cocktail", new_cocktail_path, class: "btn btn-success btn-xs" %>
      </div>
    </div>
</div>
